<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>



<table *ngIf="dataLoaded==true" class="list-group">
   
    
    <thead>
        <tr class="list-group-item" style="margin-top: 32px;">
            <th>Marka</th>        
        </tr>
        <div class="mb-3">
            <label for="filterBrand" class="form-label"></label>
            <input type="text" [(ngModel)]="filterBrand" class="form-control" id="filterBrand" placeholder="marka ara">
          </div>
         
          <div *ngIf="filterBrand" class="alert alert-success">
            {{filterBrand}} aradınız
              </div>
            
    </thead>
    <tr (click)="setCurrentBrand(brand)" routerLink="/cardetails/brand/{{brand.brandId}}" *ngFor="let brand of brands |filterBrand:filterBrand" [class]="getCurrentBrandClass(brand)">
        <td>{{brand.brandName }}</td></tr>


   
</table>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}},{{currentBrand.brandId}} seçtiniz</h5>