<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="list-group">
    <thead>
        <tr class="list-group-item">
            <th>Marka</th>        
        </tr>
    </thead>
    <tr (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}" *ngFor="let brand of brands" [class]="getCurrentBrandClass(brand)">
        <td>{{brand.brandName}}</td>
   
</table>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>