<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status" style="margin: auto;position: relative;">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="arama ifadesi giriniz">
</div>

  <div *ngIf="filterText" class="alert alert-success">
{{filterText}} aradınız
  </div>


<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Araç Adı</th>
            <th>Araç Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Kdv'li Fiyat</th>
            <th>Model</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cardetails |filterPipe:filterText">
        <td>{{car.description}}</td>
        <td>{{car.brandName |uppercase}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice |currency}}</td>
        <td>{{car.dailyPrice |vatAdded:18 |currency}}</td>
        <td>{{car.modelYear}}</td> 
    </tr>
</table>